h1 {
    color: rgb(145, 138, 129);
    text-align: center;
    font-size: 50px;
}

h2{ 
    color: rgb(71, 66, 59);
    font-size: 40px;
}

body {
    background-color: rgb(234, 222, 208);
}

.parag1 { 
    background-color: rgb(202, 192, 180);
    border: 10px solid rgb(164, 152, 152);
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}

.parag2 {
    background-color: rgb(175, 153, 121);
    border: 10px solid rgb(126, 79, 79);
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}

img {
    width: 30%;
    padding: 0 35% 0 35%;
}

.img1 {
    width: 30px;
}

.fblogo {
    width: 120px;
    padding: 0 45% 0 45%;
}

.iglogo {
    width: 120px;
    padding: 0 45% 0 45%;
}